*,
*:before,
*:after{
    padding: 0;
    margin: 0;
}
html {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(209, 250, 255) 50%, rgb(183, 182, 250) 100%);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center {
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2rem;
    height: 100vh;
    
}
.bordertop {
    display: contents;
    align-content: center;
}
.titre {
    margin-top: 0px;
    width: 30vh;
    border-bottom: 1px black solid;
    position: relative;
    margin-inline: auto;
}
.navig {
    height: 8vh;
    background-color: rgb(64, 167, 167);
    position: relative;
    display: block;
}
ul {
    width: 80%;
    position: fixed;
}
li {
    display: block;
    float: left;
    list-style-type: none;
    list-style: none;
    font-size: 50%;
    border-right: 1px black solid;
    border-left: 1px black solid;
    text-align: center;
    padding: 3vh 7vh;
    color: black;
}
a {
    text-decoration: none;
    color: white;
}
.titr {
    margin-top: 0px;
    width: 70vh;
    color: black;
    border-bottom: 1px black solid;
    position: relative;
}
.autre {
    background-color: rgb(3, 177, 177);
    height: 50vh;
    width: 143.1vh;
    margin-top: 10vh;
    border-radius: 5vh;
    box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}