*,
*:before,
*:after{
    padding: 0;
    margin: 0;
}
html {
    background: linear-gradient(90deg, rgb(255, 253, 223) 0%, rgb(255, 255, 255) 50%, rgb(255, 197, 252) 100%);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center {
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2rem;
    height: 100vh;
    
}
.bordertop {
    display: contents;
    align-content: center;
}
.titre {
    margin-top: 0px;
    width: 20vh;
    border-bottom: 1px black solid;
    position: relative;
    margin-inline: auto;
}